### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies
import pandas as pd

# Files to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student files
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Total schools
total_schools = school_data["School ID"].count()
# Total students
total_students = student_data["Student ID"].count()
# Total budget
total_budget = school_data["budget"].sum()
# Average math Score
average_math = student_data["math_score"].mean()/100
# Average reading Score
average_reading = student_data["reading_score"].mean()/100
# Percent of students passing math
passing_math = student_data.loc[student_data["math_score"]>=70]["math_score"].count()/total_students
# Percent of students passing reading
passing_reading = student_data.loc[student_data["reading_score"]>=70]["reading_score"].count()/total_students
# Overall passing rate
overall_passing = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['student_name'].count()/total_students
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                        "Total Students":[total_students],
                        "Total Budget":[total_budget],
                        "Average Math Score":[average_math],
                        "Average Reading Score":[average_reading],
                        "% Passing Math":[passing_math],
                        "% Passing Reading":[passing_reading],
                        "Overall Passing Rate":[overall_passing]                            
                                })
# Formatting
district_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
district_summary['Total Budget'] = district_summary['Total Budget'].map("${:,.2f}".format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map("{:.1%}".format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map("{:.1%}".format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map("{:.1%}".format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map("{:.1%}".format)
district_summary['Overall Passing Rate'] = district_summary['Overall Passing Rate'].map("{:.1%}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",79.0%,81.9%,75.0%,85.8%,65.2%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
# Grouped by school name 
grouped_school = school_data_complete.groupby(['school_name'])
# Total students for each school
total_student = grouped_school.size()
# Get the school type for each school
school_type = grouped_school['type'].first()
# Total budget for each school
total_budget = grouped_school['budget'].first()
# Budget per student for each school
budget_per_student = total_budget/total_student
# Average math score for each school
average_math_score = grouped_school['math_score'].mean()/100
# Average reading score for each school
average_reading_score = grouped_school['reading_score'].mean()/100
# Percentange of passing math for each school
grouped_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
percent_passing_math = (grouped_passing_math/total_student)
# Percentange of passing reading for each school
grouped_passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
percent_passing_reading = (grouped_passing_reading/total_student)
# Calculate the overall passing for each school
overall_passing = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)]
grouped_overall_passing = overall_passing.groupby(['school_name']).count()['student_name'] / total_student

#Create a dataframe to hold the above results
school = {
    'School Type': school_type,
    'Total Students':total_student,
    'Total School Budget': total_budget,
    'Per Student Budget': budget_per_student,
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    '% Passing Math': percent_passing_math,
    '% Passing Reading': percent_passing_reading,
    '% Overall Passing Rate': grouped_overall_passing,
}
school_summary = pd.DataFrame(school)

# Copy of dataframe
displayed_school_summary = school_summary.copy()

# Formatting
displayed_school_summary['Per Student Budget'] = displayed_school_summary['Per Student Budget'].map('${:,.2f}'.format)
displayed_school_summary['Total School Budget'] = displayed_school_summary['Total School Budget'].map('${:,.2f}'.format)
displayed_school_summary['Total Students'] = displayed_school_summary['Total Students'].map("{:,}".format)
displayed_school_summary['Average Math Score'] = displayed_school_summary['Average Math Score'].map("{:.1%}".format)
displayed_school_summary['Average Reading Score'] = displayed_school_summary['Average Reading Score'].map("{:.1%}".format)
displayed_school_summary['% Passing Math'] = displayed_school_summary['% Passing Math'].map("{:.1%}".format)
displayed_school_summary['% Passing Reading'] = displayed_school_summary['% Passing Reading'].map("{:.1%}".format)
displayed_school_summary['% Overall Passing Rate'] = displayed_school_summary['% Overall Passing Rate'].map("{:.1%}".format)

displayed_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.0%,81.0%,66.7%,81.9%,54.6%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1%,84.0%,94.1%,97.0%,91.3%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7%,81.2%,66.0%,80.7%,53.2%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.1%,80.7%,68.3%,79.3%,54.3%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4%,83.8%,93.4%,97.1%,90.6%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.3%,80.9%,66.8%,80.9%,53.5%
Holden High School,Charter,427,"$248,087.00",$581.00,83.8%,83.8%,92.5%,96.3%,89.2%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.6%,81.2%,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.1%,81.0%,66.1%,81.2%,53.5%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8%,84.0%,94.6%,95.9%,90.5%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.8%,80.7%,66.4%,80.2%,53.0%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.4%,83.7%,93.9%,95.9%,89.9%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.4%,83.8%,93.3%,97.3%,90.9%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.3%,84.0%,93.9%,96.5%,90.6%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.7%,84.0%,93.3%,96.6%,90.3%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
# Sort and display the five best schools
top_performing_schools = displayed_school_summary.sort_values(by='% Overall Passing Rate',ascending=False)
top_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1%,84.0%,94.1%,97.0%,91.3%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.4%,83.8%,93.3%,97.3%,90.9%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4%,83.8%,93.4%,97.1%,90.6%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.3%,84.0%,93.9%,96.5%,90.6%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8%,84.0%,94.6%,95.9%,90.5%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
# Sort and display the five worst schools
worst_performing_schools = displayed_school_summary.sort_values(by='% Overall Passing Rate')
worst_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.8%,80.7%,66.4%,80.2%,53.0%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7%,81.2%,66.0%,80.7%,53.2%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.3%,80.9%,66.8%,80.9%,53.5%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.6%,81.2%,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.1%,81.0%,66.1%,81.2%,53.5%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
# 9th grade at each school
school_avg_math_9th = school_data_complete[school_data_complete['grade']=='9th'].groupby('school_name')['math_score'].mean()/100
# 10th grade at each school
school_avg_math_10th = school_data_complete[school_data_complete['grade']=='10th'].groupby('school_name')['math_score'].mean()/100
# 11th grade at each school
school_avg_math_11th = school_data_complete[school_data_complete['grade']=='11th'].groupby('school_name')['math_score'].mean()/100
# 12th grade at each school
school_avg_math_12th = school_data_complete[school_data_complete['grade']=='12th'].groupby('school_name')['math_score'].mean()/100

# Create a dataframe to hold the above results
grade_math_score={
    '9th':school_avg_math_9th,
    '10th':school_avg_math_10th,
    '11th':school_avg_math_11th,
    '12th':school_avg_math_12th,
    }

math_score_by_grade = pd.DataFrame(grade_math_score)
# Formatting
math_score_by_grade['9th'] = math_score_by_grade['9th'].map("{:.1%}".format)
math_score_by_grade['10th'] = math_score_by_grade['10th'].map("{:.1%}".format)
math_score_by_grade['11th'] = math_score_by_grade['11th'].map("{:.1%}".format)
math_score_by_grade['12th'] = math_score_by_grade['12th'].map("{:.1%}".format)

math_score_by_grade.head(15)

                         9th   10th   11th   12th
school_name
Bailey High School     77.1%  77.0%  77.5%  76.5%
Cabrera High School    83.1%  83.2%  82.8%  83.3%
Figueroa High School   76.4%  76.5%  76.9%  77.2%
Ford High School       77.4%  77.7%  76.9%  76.2%
Griffin High School    82.0%  84.2%  83.8%  83.4%
Hernandez High School  77.4%  77.3%  77.1%  77.2%
Holden High School     83.8%  83.4%  85.0%  82.9%
Huang High School      77.0%  75.9%  76.4%  77.2%
Johnson High School    77.2%  76.7%  77.5%  76.9%
Pena High School       83.6%  83.4%  84.3%  84.1%
Rodriguez High School  76.9%  76.6%  76.4%  77.7%
Shelton High School    83.4%  82.9%  83.4%  83.8%
Thomas High School     83.6%  83.1%  83.5%  83.5%
Wilson High School     83.1%  83.7%  83.2%  83.0%
Wright High School     83.3%  84.0%  83.8%  83.6%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
# 9th grade at each school
school_avg_reading_9th = school_data_complete[school_data_complete['grade']=='9th'].groupby('school_name')['reading_score'].mean()/100
# 10th grade at each school
school_avg_reading_10th = school_data_complete[school_data_complete['grade']=='10th'].groupby('school_name')['reading_score'].mean()/100
# 11th grade at each school
school_avg_reading_11th = school_data_complete[school_data_complete['grade']=='11th'].groupby('school_name')['reading_score'].mean()/100
# 12th grade at each school
school_avg_reading_12th = school_data_complete[school_data_complete['grade']=='12th'].groupby('school_name')['reading_score'].mean()/100

# Create a dataframe to hold the above results
grade_reading_score={
    '9th':school_avg_reading_9th,
    '10th':school_avg_reading_10th,
    '11th':school_avg_reading_11th,
    '12th':school_avg_reading_12th,
    }

reading_score_by_grade = pd.DataFrame(grade_reading_score)
# Formatting
reading_score_by_grade['9th'] = reading_score_by_grade['9th'].map("{:.1%}".format)
reading_score_by_grade['10th'] = reading_score_by_grade['10th'].map("{:.1%}".format)
reading_score_by_grade['11th'] = reading_score_by_grade['11th'].map("{:.1%}".format)
reading_score_by_grade['12th'] = reading_score_by_grade['12th'].map("{:.1%}".format)

reading_score_by_grade.head(15)

                         9th   10th   11th   12th
school_name
Bailey High School     81.3%  80.9%  80.9%  80.9%
Cabrera High School    83.7%  84.3%  83.8%  84.3%
Figueroa High School   81.2%  81.4%  80.6%  81.4%
Ford High School       80.6%  81.3%  80.4%  80.7%
Griffin High School    83.4%  83.7%  84.3%  84.0%
Hernandez High School  80.9%  80.7%  81.4%  80.9%
Holden High School     83.7%  83.3%  83.8%  84.7%
Huang High School      81.3%  81.5%  81.4%  80.3%
Johnson High School    81.3%  80.8%  80.6%  81.2%
Pena High School       83.8%  83.6%  84.3%  84.6%
Rodriguez High School  81.0%  80.6%  80.9%  80.4%
Shelton High School    84.1%  83.4%  84.4%  82.8%
Thomas High School     83.7%  84.3%  83.6%  83.8%
Wilson High School     83.9%  84.0%  83.8%  84.3%
Wright High School     83.8%  83.8%  84.2%  84.1%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
# Bins
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$585", "$585-630", "$630-645", "$645-675"]

# Create a new data frame by locating the desired columns
scores_spending = school_summary.loc[:,['Average Math Score',
                                  'Average Reading Score','% Passing Math',
                                  '% Passing Reading','% Overall Passing Rate',]]
# Add a new column
scores_spending['Spending Ranges (Per Student)']= pd.cut(school_summary['Per Student Budget'],spending_bins,labels=group_names)
# Group by spending
scores_spending = scores_spending.groupby('Spending Ranges (Per Student)').mean()
# Formatting
scores_spending['Average Math Score'] = scores_spending['Average Math Score'].map("{:.1%}".format)
scores_spending['Average Reading Score'] = scores_spending['Average Reading Score'].map("{:.1%}".format)
scores_spending['% Passing Math'] = scores_spending['% Passing Math'].map("{:.1%}".format)
scores_spending['% Passing Reading'] = scores_spending['% Passing Reading'].map("{:.1%}".format)
scores_spending['% Overall Passing Rate'] = scores_spending['% Overall Passing Rate'].map("{:.1%}".format)

scores_spending.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.5%,83.9%,93.5%,96.6%,90.4%
$585-630,81.9%,83.2%,87.1%,92.7%,81.4%
$630-645,78.5%,81.6%,73.5%,84.4%,62.9%
$645-675,77.0%,81.0%,66.2%,81.1%,53.5%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
# Bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
# Create a new data frame by locating the desired columns
scores_size = school_summary.loc[:,['Average Math Score',
                                  'Average Reading Score','% Passing Math',
                                  '% Passing Reading','% Overall Passing Rate',]]
# Add a new column
scores_size['School Size']= pd.cut(school_summary['Total Students'],size_bins,labels=group_names)
# Group by size
scores_size = scores_size.groupby('School Size').mean()
# Formatting
scores_size['Average Math Score'] = scores_size['Average Math Score'].map("{:.1%}".format)
scores_size['Average Reading Score'] = scores_size['Average Reading Score'].map("{:.1%}".format)
scores_size['% Passing Math'] = scores_size['% Passing Math'].map("{:.1%}".format)
scores_size['% Passing Reading'] = scores_size['% Passing Reading'].map("{:.1%}".format)
scores_size['% Overall Passing Rate'] = scores_size['% Overall Passing Rate'].map("{:.1%}".format)

scores_size.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.8%,83.9%,93.6%,96.1%,89.9%
Medium (1000-2000),83.4%,83.9%,93.6%,96.8%,90.6%
Large (2000-5000),77.7%,81.3%,70.0%,82.8%,58.3%

## Scores by School Type

* Perform the same operations as above, based on school type

In [10]:
# Create a new data frame with our desired columns
scores_type = school_summary[['School Type','Average Math Score',
                                  'Average Reading Score','% Passing Math',
                                  '% Passing Reading','% Overall Passing Rate',]]
# Group by school type
scores_type = scores_type.groupby('School Type').mean()
# Formatting
scores_type['Average Math Score'] = scores_type['Average Math Score'].map("{:.1%}".format)
scores_type['Average Reading Score'] = scores_type['Average Reading Score'].map("{:.1%}".format)
scores_type['% Passing Math'] = scores_type['% Passing Math'].map("{:.1%}".format)
scores_type['% Passing Reading'] = scores_type['% Passing Reading'].map("{:.1%}".format)
scores_type['% Overall Passing Rate'] = scores_type['% Overall Passing Rate'].map("{:.1%}".format)

scores_type.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.5%,83.9%,93.6%,96.6%,90.4%
District,77.0%,81.0%,66.5%,80.8%,53.7%